.productPage {
  margin: auto;
  text-align: center;
  height: 75vh;
}

.imageGallery {
  width: auto;
  height: 50vh;
  max-height: 75vh;
  max-width: 50vw;
  margin: auto;
  overflow: hidden;
}

.singleProductSlider .slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.slick-slide {
  height: 100%;
}

.slick-slide img {
  height: 50vh;
  object-fit: contain;
}

.slick-prev:before,
.slick-next:before {
  color: gray;
}

.slick-next {
  right: 25;
  z-index: 100;
}
.slick-prev {
  left: 25;
  z-index: 100;
}

.product-card .slick-prev {
  visibility: hidden;
}

.product-card:hover .slick-prev {
  visibility: visible;
}

.product-card .slick-next {
  visibility: hidden;
}

.product-card:hover .slick-next {
  visibility: visible;
}
